
.search-result-container{
    height: calc(100vh - 3em - 4em);
}

.search-result-display{
    padding: 2px 10%;
    min-height: 100%;
}


@media only screen and (max-width: 1020px){

}

@media only screen and (max-width: 720px){
    .search-result-display{
        padding: 2px 20px;
    }
}

@media only screen and (max-width: 540px){

}